# preprocessed resources
wikiDataDir = /shared/preprocessed/wikiparser/wikiExtractorJsonPages/
curIds2Title = /shared/preprocessed/wikiparser/unifiedParserOutput/curIds2Title.tsv
freebaseTypeFile = /shared/experiments/cddunca2/freebase-type-project/data/wid.fbtypelabels


# db files
sentenceDB = /shared/experiments/cddunca2/freebase-type-project/db/sentences-single.db
titleIdDB = /shared/experiments/cddunca2/freebase-type-project/db/en/title-id.db
typeDB = /shared/experiments/cddunca2/freebase-type-project/db/types.db

