# preprocessed resources
wikiDataDir = /shared/preprocessed/wikiparser/wikiExtractorJsonPages/
title2idFile = /shared/experiments/cddunca2/freebase-type-project/data/enwiki-20170520.id2t
freebaseTypeFile = /shared/experiments/cddunca2/freebase-type-project/data/wid.fbtypelabels

# db files
sentenceDB = /shared/experiments/cddunca2/freebase-type-project/db/sentences-single.db
titleToIdDB = /shared/experiments/cddunca2/freebase-type-project/db/title2id.db
typeDB = /shared/experiments/cddunca2/freebase-type-project/db/types.db

