# preprocessed resources
wikiDataDir = /shared/preprocessed/wikiparser/wikiExtractorJsonPages/
title2idFile = /shared/experiments/cddunca2/freebase-type-project/data/enwiki-20170520.id2t
freebaseTypeFile = /shared/experiments/cddunca2/freebase-type-project/data/wid.fbtypelabels

# db files
sentenceDbFile = /shared/experiments/cddunca2/freebase-type-project/db/sentences.db
titleToIdDBFile = /shared/experiments/cddunca2/freebase-type-project/db/title2id.db
typeDbFile = /shared/experiments/cddunca2/freebase-type-project/db/types.db

