# Configuration for building a smaller, test context DB for Spanish

# db files
sentenceDB = /shared/experiments/cddunca2/freebase-type-project/db/es-sentences-test.db
titleIdDB = /shared/experiments/cddunca2/freebase-type-project/db/en/title-id.db
targetTitleIdDB = /shared/experiments/cddunca2/freebase-type-project/es/es-titleid.db
interlanguageLinksDB = /shared/experiments/cddunca2/freebase-type-project/es/es-interlanguagelinks.db
freebaseTypeDB = /shared/experiments/cddunca2/freebase-type-project/db/types.db