
# Path to where DB should be built. The directory must exist. The DB will be named the name which you give here.
# For example, /path/to/db/es-to-en.db will create a DB called es-to-en.db in the directory /path/to/db/ assuming
# that directory exists.
interlanguageLinkDB = /shared/experiments/cddunca2/freebase-type-project/es/es-interlanguagelinks.db


# Path to a compressed Wikipedia interlanguage links file, e.g. /home/cddunca2/Desktop/eswiki-20180920-langlinks.sql.gz
wikipediaLangLinksFile = /home/cddunca2/Desktop/eswiki-20180920-langlinks.sql.gz
