# preprocessed resources
wikiDataDir = /shared/preprocessed/wikiparser/wikiExtractorJsonPages/
title2idFile = /shared/experiments/cddunca2/freebase-type-project/data/enwiki-20170520.id2t
freebaseTypeFile = /shared/experiments/cddunca2/freebase-type-project/data/wid.fbtypelabels

# wikipedia resources
pageFile = /shared/experiments/cddunca2/freebase-type-project/data/enwiki-20181220-page.sql.gz

# db files
sentenceDB = /shared/experiments/cddunca2/freebase-type-project/db/sentences-single-test.db
titleIdDB = /shared/experiments/cddunca2/freebase-type-project/db/en/title-id.db
freebaseTypeDB = /shared/experiments/cddunca2/freebase-type-project/db/types.db